
<!-- Start Main Body Section -->
<div id="home-mesage" class="visible-desktop visible-tablet visible-phone">
        <div id="page-wrap" class="mainbody-section text-center">
            <div class="container" >
                <div class="row">
                    <div class="col-md-4">
						<div class="menu-item color">
                            <a href="#about-modal" data-toggle="modal">
                               
                                <p>About Me</p>
                            </a>
                        </div>
					</div>  
                    
                    <div class="col-md-4">
						<div class="menu-item light-orange">
                            <a href="#projects-modal" data-toggle="modal">
                               
                                <p>Projects</p>
                            </a>
                        </div>
					</div>          
					
					<div class="col-md-4">
                        <div class="menu-item blue">
                            <a href="#profile-modal" data-toggle="modal">
                                
                                <p>Abilities</p>
                            </a>
                        </div>
                    </div>        
                        
					 
				                  
                        
                        
                        
                </div>
				
				 <div class="row">
                    
                    <div class="col-md-6">
                        <div class="menu-item light-red">
                            <a href="#other-modal" data-toggle="modal">
                                
                                <p>Interests</p>
                            </a>
                        </div>
                    </div>        
                        
                    <div class="col-md-6">
						<div class="menu-item green">
                            <a href="#video-modal" data-toggle="modal">
                               
                                <p>Favourites</p>
                            </a>
                        </div>
					</div>          
				  
                </div>
            </div>
        </div>
 </div>
        <!-- End Main Body Section -->
		
		<!-- Start About Section -->
        <div class="section-modal modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
			
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
				
                <div class="container text-center profile-text-color">
					<div class="row">
						<div class="section-title">
                            <h2>Profile</h2>
                            
                        </div>
						<hr>
						<div class="row">
							Welcome to profile page
						</div>
						
					</div> <!-- row -->
					
						

				</div> <!-- container -->
                
                
            </div> <!-- modal -->
        </div> <!-- Section -->
        <!-- End About Section -->
		
		 <!-- Start Projects Section -->
        <div class="section-modal modal fade" id="projects-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
			
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
				<div class="container text-center ">
					<div class="row">
						<div class="section-title">
                            <h2>workmy</h2>
                            
                        </div>
						<hr>
						<div id="projects" class="row ">
							Welcome to work page
						</div>
							
				</div> <!-- container -->
                
            </div>
        </div>
        <!-- End Projects Section -->
		
		<!-- Start About Section -->
        <div class="section-modal modal fade" id="about-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
                <div class="container about-text-color text-center">
					<div class="row">
						<div class="section-title  ">
                            <h2>About/h2>
                            
                        </div>
						<hr>
						<div class="row ">
							Welcome to about page
						
					</div> <!-- row -->
				</div> <!-- container -->
                
            </div>
        </div>
        <!-- End About Section -->
		
		<!-- Start Latest Other Section -->
        <div class="section-modal modal fade" id="other-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
                <div class="container text-center">
					<div class="row">
						<div class="section-title  ">
                            <h2>Interest</h2>
                            
                        </div>
						<hr>
						<div class="row ">
							Welcome to interest page
						</div>  
							   
						
					</div> <!-- row -->
				</div> <!-- container -->
                
            </div>
        </div>
        <!-- End Latest Other Section -->
		
		<!-- Start Contact Section -->
        <div class="section-modal modal fade " id="video-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
                <div class="container fav-text-color text-center">
					<div class="row">
						<div class="section-title  ">
                            <h2>Favourite</h2>
                          
                        </div>
						<hr>
						<div class="row ">
							Welcome to Favourites page
						</div>  
							   
						
					</div> <!-- row -->
				</div> <!-- container -->
                
            </div>
        </div>
        <!-- End Contact Section -->
		
		
</div>